<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
            div{
                border: 2px solid black;
                /* display: inline-block;
                 */
                 display: inline;
            }
    </style>
</head>
<body>
    <h1>User Details</h1>
    <div>
    Name:- <b><%= data.name%><br><br></b>
    Email:- <b><%= data.email%><br><br></b>
    PassWord:- <b><%= data.pass%><br><br></b>

</div>
</body>
</html>