<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding-top: 50px ;
        }
        b{
            color: rgb(0, 0, 0);
        }
    </style>
</head>

<body>
    <center>
        This is our home page.<br/>
        Welcome <b><%=name%></b>, to our home page.
    </center>
</body>

</html>