.continer{
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 860px;

}
.main{
    display:flex ;
    /* margin-top: 100px; */
}