* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  line-height: 1.4;
  font-size: 18px;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: #221c1c;
  box-shadow: rgba(29, 24, 24, 0.15) 1.95px 1.95px 2.6px;
  position: fixed;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  max-width: 1440px;
  margin: 40px 80px;
  align-items: center;
  height: 56px;
}
.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 15px;
  font-weight: bold;
}
.navbar ul li a:hover{
  cursor: pointer;
  color: #5a5a5a;
}
.navbar-brand img:hover{
  cursor: pointer;
  opacity: 0.6;
}

a {
  color: white;
  text-decoration: none;

}
ul {
  list-style: none;
}

.img {
  height: 850px;
  background-color: #e5474b;
  color: #ffffff;
  padding: 13em 0 11em 2em;
  background-color: #0c0c0c;
  background-image: url(./img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 15% left;
  text-align: left;
  z-index: 9999;
}
.text {
  font-size: 25px;
  letter-spacing: 5px;
  line-height: 50px;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1300px;
}
.btno {
  padding: 15px;
  color: white;
  background-color: transparent;
  margin-top: 20px;
  display: inline-block;
  border: 2px solid white;
  transition: 0.3s ease-in-out;
  transition-property: background-color;
}
.btno:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: #5a5a5a;
}

.p1 {
  display: flex;
  justify-content: center;
}
.mag {
  padding-top: 90px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;
  max-width: 1280px;
}

.pbtn {
  padding: 15px;
  color: white;
  background-color: transparent;
  margin-top: 20px;
  display: inline-block;
  border: 2px solid rgb(255, 0, 0);
  transition: 0.3s ease-in-out;
  transition-property: background-color;
}
.pbtn:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: #fceced;
}
/* 
.p2 {
background-color: rgb(193, 193, 193);
} */
.p2{
  background-color:rgb(218, 218, 218) ;
  background: linear-gradient(90deg, #ededed 50%, #f3f3f3 50%);
}

.p2 .hall {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1280px;
}
.mo h1 {
  padding: 0 0 20px 0 ;
  color: red;
  font-size: medium;
  font-weight: 400;
}

.first{
  padding: 10px 20px;
  margin: 30px;

}
.second{
  padding: 10px 20px;
  padding-left: 80px;
  margin: 30px;

}
.pa3{
  padding: 0 0 20px 0; 
  color: red;
}
.p3 {
  display: flex;
  justify-content: center;
  padding: 80px;
  margin: 0 auto;
  max-width: 1280px;
}
.p3 h2{
  letter-spacing: 2px;
  padding: 15px 0 ;
  font-weight: 100;
}
.firstp3{
  padding: 40px;;
}
.secondp3{
  padding: 40px;
}
.thirdp3{
  padding: 40px;
}
.btno3 {
  padding: 15px;
  color: rgb(255, 0, 0);
  background-color: transparent;
  margin-top: 20px;
  display: inline-block;
  border: 2px solid rgb(255, 0, 0);
  transition: 0.3s ease-in-out;
  transition-property: background-color;
}
.btno3:hover {
  cursor: pointer;
  background-color: #fceced;
}
footer {
    width: 100%;
    background-color: #ff0000;
    box-shadow: rgba(250, 56, 56, 0.15) 1.95px 1.95px 2.6px;
}
.footer-container{
  background-color: #5a5a5a;
   display: flex; 
   /* padding: 50px 50px; */
    max-width: 1440px;
    margin: 0 auto;
    flex-direction: column;
   
}
.name{
  display: flex;
  margin: 2px;
}
.bt {
  padding: 15px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  margin-top: 20px;
  display: inline-block;
  border: 2px solid rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
  transition-property: background-color;
}
.bt:hover {
  cursor: pointer;
  background-color: #f2a3a5;
}
  
h2{
  font-size: 13pt;
  font-weight: 500;
  letter-spacing: 2px;
}


.form{
  display: flex;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 0px;
  margin: 0 auto;
  max-width: 1280px;
  flex-direction: column;
}

.form h1{
  display: flex;
  justify-content: flex-start;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.firstvalue{
  display: flex;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.form input[type=text] {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 3px;
  padding: 10px 60px;
  
}

.value1{
  font-size: 1.5rem;
  padding-right: 155px;
  background-color: transparent;
}
.value2{
  font-size: 1.5rem;
  background-color: transparent;


}

.value3{
  color: white;
  font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
  background-color: transparent;


}

